
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<form class="form-signin" action="http://localhost:8080/login" method="post">




                <label for="uname" ><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username"  class="form-control"  required><br>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password"  class="form-control" required><br>


                <button>login</button>
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
    </div>
</body>
</html>